.video-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Tüm yüksekliği kapsayacak şekilde ayarlayın */
    overflow: hidden;
}

#video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Video tam olarak kapsanır */
}
.info {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    font-size: 24px;
    background: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
#compassInfo {
    top: 5%;
}
#directionInfo {
    top: 15%;
}
.arrow-container {
    position: absolute;
    top: 50%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    transform: translateY(-50%);
    pointer-events: none; /* Okların etkileşimini devre dışı bırak */
}

.arrow-container img {
    width: 50px; /* Okların boyutunu ayarlayın */
    height: auto;
}